In [1]:
import pandas as pd
marks = pd.read_csv('https://media-doselect.s3.amazonaws.com/generic/GZVBQG5pzJeNaL1ve50Rv9YNV/class-grades.csv')
print(marks.isnull().sum())

Prefix         0
Assignment     2
Tutorial      12
Midterm       16
TakeHome       9
Final          5
dtype: int64

In [2]:
import pandas as pd
marks = pd.read_csv('https://media-doselect.s3.amazonaws.com/generic/VodvGKvJAaeNrG7kvOQV38aog/class-grades.csv')

#Type your code here to remove rows with missing value equal to 5
marks = marks[marks.isnull().sum(axis=1)==5]
print(marks.isna().sum())

Prefix        0
Assignment    2
Tutorial      2
Midterm       2
TakeHome      2
Final         2
dtype: int64